
.profile-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    height: 100vh;
    margin: 0 30px;
}

.profile-card {
    flex: 1 1 30%;
    max-width: 20%;
    height: 400px;
    background: url(/public/img/Fundo\ abstrato\ holográfico\ elegante\ _\ Vetor\ Grátis.jpg) no-repeat;
    background-size: cover;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0 0 2px 0 #ccc;
    transition: .3s;
}
.profile-img img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.profile-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px -5px #ccc;
}

.profile-icon {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-name {
    font-size: 24px;
    text-align: center;
    
}
.profile-spes {
    font-size: 24px;
    
  
}
.spec{
  text-align: center;
  font-size: 15px;
}
.profile-position {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #777;
}
 .numproj, .btn{
    margin-top: 20px;
    margin-left: 20px;
}

button{
    margin: 40px 0 50px 0;
  }
  .msg-btn{
    background: #03bfbc;
    border: 1px solid #03bfbc;
    margin: 20px 0 50px 0;
    padding: 2px  10px 2px 10px;
    color: #231e39;
    text-decoration: none;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
    font-size: 15px;
  }
  
  .msg-btn:hover{
    color: #231e39;
    background: #03bfbc;
    transition: .5s;
  }
.btn {

    text-align: center;
    padding: 10px 20px;
    color: #999;
    text-decoration: none;
    border: 1px solid #999;
    border-radius: 4px;
}

.btn:hover {
    color: #fff;
    background: #748dff;
    border: 1px solid #748dff;
}

@media screen and (max-width: 1000px) {
    .profile-name {
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    .profile-card {
        padding: 20px 15px;
    }

    .profile-name {
        font-size: 16px;
        text-align: center;
    }
}


  /*Trigger Button*/
.login-trigger {
  font-weight: bold;
  color: #fff;
  background: linear-gradient(to bottom right, #B05574, #F87E7B);
  padding: 15px 30px;
  border-radius: 30px;
  position: relative; 
  top: 50%;
}

/*Modal*/
h4 {
  font-weight: bold;
  color: #fff;
}
.close {
  color: #fff;
  transform: scale(1.2)
}
.modal-content {
  font-weight: bold;
  background: linear-gradient(to bottom right,#F87E7B,#B05574);
}
.form-control {
  margin: 1em 0;
}
.form-control:hover, .form-control:focus {
  box-shadow: none;  
  border-color: #fff;
}
.username, .password {
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 2px solid #eee;
  padding-left: 0;
  font-weight: normal;
  background: transparent;  
}
.form-control::-webkit-input-placeholder {
  color: #eee;  
}
.form-control:focus::-webkit-input-placeholder {
  font-weight: bold;
  color: #fff;
}
.login {
  padding: 6px 20px;
  border-radius: 20px;
  background: none;
  border: 2px solid #FAB87F;
  color: #FAB87F;
  font-weight: bold;
  transition: all .5s;
  margin-top: 1em;
}
.login:hover {
  background: #FAB87F;
  color: #fff;
}
